extends layouts/main-layout.pug 

block content 
    h1 This is sub layout
    h2 Welcome to javacript 
    h2 Welcome to html 
    h2 welcomet to css 
block more_content 
    p welcome to second content of the page 
